<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citações</title>
    <link rel="stylesheet" href="../styles/stylesQuote.css">
    <link rel="icon" href="../assets/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="nav-link">Newsletter</a></li>
                <li><a href="/biografias" class="nav-link">Biografias</a></li>
                <li><a href="/citacoes" class="nav-link">Citações</a></li>
                <li><a href="/categorias" class="nav-link">Categorias</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="quote-container">
            <div class="quote-card">
                <div class="quote-header">
                    <h2 class="quote-author">Nome do Autor</h2>
                </div>
                <p class="quote-content">
                    "Conteúdo da Citação"
                </p>
                <div class="quote-tags">
                    <span class="tag">Tag1</span>
                    <span class="tag">Tag2</span>
                </div>
            </div>
            <!-- Adicione mais cartões de citação conforme necessário -->
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Sua Frase Diária</p>
    </footer>
    <script type="module" src="../scripts/actions/quotes/getQuoteScriptActions.js"></script>
</body>
</html>