.hidden {
    display: none;
}

.button:disabled #loading-icon {
    display: inline;
}

/* STYLES FOR COUNTING ACTIVE READERS */
.active-readers {
    font-size: 1rem; 
    color: #00796b; /* SOFT GREEN */
    margin-bottom: 10px;
    text-align: center;
}

#readersCount {
    font-weight: bold;
    color: #004d40; /* DARK GREEN FOR NUMBER */
}
